---
import Image from 'astro/components/Image.astro'
const {article} = Astro.props
---
<a href={`/articles/${article.slug}`} class="col-span-4 md:col-span-2 lg:col-span-1">
  <div class="relative aspect-4/3">
    <Image
      src={article.data.cover_image}
      alt={`Cover image for ${article.slug}`}
      width={800}
      height={800}
      class="object-cover z-10 rounded-lg w-full h-full"
    />
    <div class="absolute inset-0 bg-gradient-to-t from from-black via-transparent z-20 rounded-b-lg" />
    <div class="absolute bottom-4 inset-x-4 text-white z-20 space-y-4">
      <h1 class="font-semibold line-clamp-3">{article.data.title}</h1>
    </div>
  </div>
</a>