---
import Image from "astro/components/Image.astro";
const { article } = Astro.props;
---
<a href={`/news/${article.slug}`} class="row-span-2 md:row-span-3 col-span-4">
  <div class="relative h-full w-full">
    <Image
      src={article.data.cover_image}
      alt={`${article.slug}`}
      height={768}
      width={1024}
      class="object-cover z-10 rounded-lg w-full h-full"
      transition:name={`article-${article.slug}`}
    />
    <div class="absolute inset-0 bg-gradient-to-t from from-black via-transparent z-10 rounded-b-lg" />
    <div class="absolute bottom-4 md:bottom-8 inset-x-4 md:inset-x-8 text-white z-10 space-y-4">
      <div class="text-xl md:text-3xl font-semibold line-clamp-2">{article.data.title}</div>
      <p class="line-clamp-2">{article.body}</p>
    </div>
  </div>
</a>