---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { IconCalendar, IconColorPicker, IconHorseshoe, IconRuler } from "@tabler/icons-react";
import Gallery from "../../components/Gallery.astro";
import GalleryImage from "../../components/GalleryImage.astro";
import YoutubeEmbedVideo from "../../components/YoutubeEmbedVideo.astro";
import HorseRelationLink from "../../components/HorseRelationLink.astro";

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const horse = await getEntry("horses", slug);
if (!horse) throw new Error("No horse found for this slug");

const { Content } = await horse.render();

const allImages = [horse.data.profile_picture, ...horse.data.gallery || []];

// Generate static pages
export async function getStaticPaths() {
  const horses = await reader.collections.horses.all();
  return horses.map(horse => ({ params: { slug: horse.slug } }));
}
---
<Layout title={horse.data.full_name}>
  <div class="page-width mx-auto space-y-16 px-4 md:px-0">
    <div class="space-y-4">
      <div class="space-y-1">
        <h1 class="text-brand text-5xl font-semibold">
          {horse.data.full_name}
        </h1>
        <div>
          {horse.data.family}
        </div>
        <div class="italic">
          {horse.data.current_owner}
        </div>
      </div>
      <div class="flex space-x-6">
        <div class="flex items-center space-x-2">
          <IconCalendar className="text-brand size-4" />
          <div class="font-semibold text-brand">
            {horse.data.birth_year}{horse.data.lived_until && (", " + horse.data.lived_until + " verstorben")}
          </div>
        </div>
        <div class="flex items-center space-x-2">
          <IconHorseshoe className="text-brand size-4" />
          <div class="font-semibold text-brand">
            {horse.data.breed}
          </div>
        </div>
        <div class="flex items-center space-x-2">
          <IconRuler className="text-brand size-4" />
          <div class="font-semibold text-brand">
            {horse.data.size}
          </div>
        </div>
        <div class="flex items-center space-x-2">
          <IconColorPicker className="text-brand size-4" />
          <div class="font-semibold text-brand">
            {horse.data.color}
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-1">
      {allImages?.slice(0, 5)?.map((image, i) => (
        <GalleryImage
          src={image}
          image={image}
          alt={`Cover image for ${slug}`}
          width={i === 0 ? 800 : 500}
          class="rounded aspect-square object-cover h-full w-full first:row-span-2 first:col-span-2 cursor-pointer hover:brightness-110"
          index={i}
          gallery={allImages}
          hasMoreImages={allImages.length > 5}
        />
      ))}
    </div>
    {horse.data.youtube_video_id && (
      <YoutubeEmbedVideo
        youtubeVideoId={horse.data.youtube_video_id}
        width="100%"
        height="360"
      />
    )}
    <p>
      {horse.data.bio}
    </p>
    {horse.data.father?.value && horse.data.mother?.value && (
      <div class="space-y-4">
        <h2 class="text-brand uppercase tracking-widest font-semibold">
          Stammbaum
        </h2>
        <div class="flex flex-1 bg-primary-50 border border-brand/25 text-brand bg-white shadow rounded">
          <div class="flex-1 flex flex-col items-center justify-center border-r border-brand/25">
            {horse.data.full_name}
          </div>
          <div class="flex-1 flex flex-col items-center justify-center border-r border-brand/25">
            <div class="flex-1 w-full flex justify-center items-center border-b border-brand/25">
              <HorseRelationLink horseName={horse.data.father} />
            </div>
            <div class="flex-1 w-full flex justify-center items-center">
              <HorseRelationLink horseName={horse.data.mother} />
            </div>
          </div>
          <div class="flex-1 flex flex-col items-center justify-center">
            <div class="flex-1 w-full text-center py-4 border-b border-brand/25">
              <HorseRelationLink horseName={horse.data.fathers_father} />
            </div>
            <div class="flex-1 w-full text-center py-4 border-b border-brand/25">
              <HorseRelationLink horseName={horse.data.fathers_mother} />
            </div>
            <div class="flex-1 w-full text-center py-4 border-b border-brand/25">
              <HorseRelationLink horseName={horse.data.mothers_father} />
            </div>
            <div class="flex-1 w-full text-center py-4">
              <HorseRelationLink horseName={horse.data.mothers_mother} />
            </div>
          </div>
        </div>
      </div>
    )}
    <div class="prose">
      <Content />
    </div>
  </div>
</Layout>
