---
import { Image } from "astro:assets";

const { images } = Astro.props;
---
<div class="pswp-gallery pswp-gallery--single-column grid grid-cols-2 lg:grid-cols-4 gap-1" id="gallery">
  {images?.map((image, i) => (
    <a
      href={image.src}
      class="h-full w-full first:row-span-2 first:col-span-2 cursor-pointer hover:brightness-110 relative"
      data-pswp-width={image.width}
      data-pswp-height={image.height}
      data-cropped="true"
      target="_blank"
    >
      {i === 4 && images.length > 5 && (
        <div class="absolute inset-0 bg-black/50 backdrop-blur rounded flex justify-center items-center text-white">
          {images.length - 4} more image(s)
        </div>
      )}
      {i < 5 && (
        <Image
          src={image}
          alt={image.src}
          class="rounded aspect-square object-cover"
        />
      )}
    </a>
  ))}
</div>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe")
  });
  lightbox.init();
</script>