---
import Image from "astro/components/Image.astro";

const { horse } = Astro.props;
---
<a href={`/horses/${horse.slug}`}>
  <div class="bg-white overflow-auto rounded shadow">
    <Image
      src={horse.data.profile_picture}
      alt={`Cover image for ${horse.slug}`}
      width={500}
      class="w-full object-cover aspect-square"
    />
    <div class="p-6">
      <div class="flex space-x-4 text-gray-500 text-sm">{horse.data.birth_year}, {horse.data.breed}</div>
      <h1 class="text-2xl line-clamp-1 font-semibold mb-2 text-brand">
        {horse.data.full_name}
      </h1>
      <div class="text-gray-500 line-clamp-1 text-sm">
        {horse.data.father.value} – {horse.data.mothers_father.value}
      </div>
    </div>
  </div>
</a>