---
import Image from 'astro/components/Image.astro'
import {IconCalendar, IconHorseshoe} from "@tabler/icons-react"

const {horse} = Astro.props
---
<a href={`/horses/${horse.slug}`}>
  <div class="bg-white overflow-auto rounded shadow">
    <Image
      src={horse.data.profile_picture}
      alt={`Cover image for ${horse.slug}`}
      width={300}
      height={300}
      class="w-full object-cover aspect-square"
    />
    <div class="lg:p-8 p-6 space-y-3">
      <h1 class="text-3xl line-clamp-1">
        {horse.data.full_name}
      </h1>
      <div>
        <div class="text-gray-500 line-clamp-1">
          {horse.data.father.value} – {horse.data.mothers_father.value}
        </div>
        <div class="flex space-x-4 text-gray-500">
          <div class="flex items-center space-x-1">
            <IconCalendar className="size-4" />
            <div class="">{horse.data.birth_year}</div>
          </div>
          <div class="flex items-center space-x-1">
            <IconHorseshoe className="size-4" />
            <div class="">{horse.data.breed}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>