---
import Image from 'astro/components/Image.astro'
import {IconCalendar, IconHorseshoe} from "@tabler/icons-react"

const {horse} = Astro.props
---
<a href={`/horses/${horse.slug}`}>
  <div class="bg-white overflow-auto rounded shadow flex flex-col">
    <Image
      src={horse.data.profile_picture}
      alt={`Cover image for ${horse.slug}`}
      width={500}
      height={500}
      class="object-cover aspect-square size-full"
    />
    <div class="p-6 space-y-1">
      <h1 class="font-semibold text-xl line-clamp-1">
        {horse.data.full_name}
      </h1>
    </div>
  </div>
</a>